body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

.Second-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo, .Second-logo {
    animation: Main-logo-spin infinite 20s linear;
  }
}

.Main-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-link {
  color: #61dafb;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rowColumn {
  display:flex; 
  flex-direction:row;
}

.Main-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: 1px solid skyblue;
}

.Component-normal {
  background-color: #282c34;
  color: white;
  font-size: calc(20px + 2vmin);
  min-width: 250px;
}

.Component-side {
  background-color: white;
  color: black;
  font-size: calc(20px + 2vmin);
  min-width: 20px;
}

.Table-content {
  background-color: lightblue;
}

#input-with-sx {
  color: white;
}

.teamText {
  text-align: center;
}

.teamBox {
  background-color: lightskyblue;
  border: 1px solid black;
}

.column-divider {
  min-width: 50px;
  min-height: 50px;
}
